*{
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}

.items{
    margin-top: 40px;
    padding: 20px 0;
    /* background-color: whitesmoke; */
}

.items .list{
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 10px;
    justify-content: center;

}

.items .list a{
    padding: 10px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 30px;
    color: black;
     
   
   

}
.items .list a:hover{
    opacity: 0.75;
}


